.hidden {
    display: none !important;
}

.wpjmsq-new-question-trigger-wrapper {
    margin: 2em 0;
}

.wpjmsq-add-question-repeater-wrapper {
    position: relative;
    display: inline-block;
}

.add_screening_question_button_options {
    list-style-type: none;
    background: #eee;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.add_screening_question_button_options > li > a {
    color: #333;
    text-decoration: none;
    line-height: 40px;
    display: block;
    text-align: center;
    border: none;
    box-shadow: none;
}

.add_screening_question_button_options > li > a:hover {
    background: #ccc;
}

.wpjmsq-job-questions-wrapper .screening-question {
    display: table;
    width: 100%;
}

.wpjmsq-job-questions-wrapper .screening-question .input-cell,
.wpjmsq-job-questions-wrapper .screening-question .button-cell {
    display: table-cell;
    vertical-align: middle;
}

.wpjmsq-job-questions-wrapper .screening-question .input-cell {
    padding-right: 10px;
}

.wpjmsq-job-questions-wrapper .screening-question .input-cell .input-text {
    width: 100%;
}

.wpjmsq-job-questions-wrapper .screening-question .button-cell {
    width: 1%;
}

#wpjmsq-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10000;
}

#wpjmsq-popup .wpjmsq-modal {
    background: #fff;
    width: 900px;
    max-width: 100%;
    padding: 20px;
    margin: 50px auto;
    min-height: 200px;
    position: relative;
}

#wpjmsq-modal-close-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    color: red;
    font-size: 36px;
    line-height: 20px;
    background: #ccc;
}

#wpjmsq-modal-close-btn:hover {
    background: red;
    color: #fff;
}

.wpjmsq-modal-body ul {
    list-style-type: none;
    margin: 0 0 25px;
    padding: 0;
}
